In [11]:
# insert records into the database 
import pandas as pd
import sqlite3 as sql
import os
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [12]:
cnn=sql.connect('airlines.db')

In [13]:
%load_ext sql
%sql sqlite:///airlines.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
%%sql 
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///airlines.db
Done.

[]

# clear the tables

In [16]:
# clear the entire database
# Connect to the SQLite database
db = sql.connect("airlines.db")
cursor = db.cursor()

# Disable foreign key constraints
cursor.execute("PRAGMA foreign_keys = OFF;")

# Get all table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Drop each table
for table_name in tables:
    cursor.execute(f"DROP TABLE IF EXISTS {table_name[0]};")
    print(f"Table {table_name[0]} dropped.")

# Commit the changes and re-enable foreign key constraints
db.commit()
cursor.execute("PRAGMA foreign_keys = ON;")

# Close the database connection
db.close()

print("All tables have been dropped, and the database is now empty.")

Table Aircrafts dropped.
Table AirFare dropped.
Table Branches dropped.
Table Charges dropped.
Table Contact_Details dropped.
Table Countries dropped.
Table Discounts dropped.
Table Employee dropped.
Table Flight_Schedule dropped.
Table Passengers dropped.
Table Route dropped.
Table State dropped.
Table Transactions dropped.
All tables have been dropped, and the database is now empty.