# insert into mysql database

In [4]:
import sqlite3

conn=sqlite3.connect('airlines.db')
cursor=conn.cursor()

In [5]:
# Drop and create tables
commands = [
    """DROP TABLE IF EXISTS Aircrafts""",
    """CREATE TABLE Aircrafts(
        AcID INTEGER PRIMARY KEY,
        AcNumber TEXT NOT NULL,
        Capacity INTEGER NOT NULL,
        MfdBy TEXT NOT NULL,
        MfdOn DATETIME NOT NULL
    )""",
    """DROP TABLE IF EXISTS Route""",
    """CREATE TABLE Route(
        RtID INTEGER PRIMARY KEY,
        Airport TEXT NOT NULL,
        Destination TEXT NOT NULL,
        RouteCode TEXT NOT NULL UNIQUE
    )""",
    """DROP TABLE IF EXISTS AirFare""",
    """CREATE TABLE AirFare(
        AfID INTEGER PRIMARY KEY,
        Route INTEGER,
        Fare REAL,
        FSC REAL,
        FOREIGN KEY (Route) REFERENCES Route(RtID)
    )""",
    """DROP TABLE IF EXISTS Flight_Schedule""",
    """CREATE TABLE Flight_Schedule(
        FlID INTEGER PRIMARY KEY,
        FlightDate DATETIME,
        Departure DATETIME,
        Arrival DATETIME,
        Aircraft INTEGER,
        NetFare INTEGER,
        FOREIGN KEY (Aircraft) REFERENCES Aircrafts(AcID),
        FOREIGN KEY (NetFare) REFERENCES AirFare(AfID)
    )""",
    """DROP TABLE IF EXISTS Discounts""",
    """CREATE TABLE Discounts(
        DiID INTEGER PRIMARY KEY,
        Title TEXT,
        Amount INTEGER,
        Description TEXT
    )""",
    """DROP TABLE IF EXISTS Charges""",
    """CREATE TABLE Charges(
        ChID INTEGER PRIMARY KEY,
        Title TEXT,
        Amount INTEGER,
        Description TEXT
    )""",
    """DROP TABLE IF EXISTS Countries""",
    """CREATE TABLE Countries(
        CtID INTEGER PRIMARY KEY,
        CountryName TEXT NOT NULL
    )""",
    """DROP TABLE IF EXISTS State""",
    """CREATE TABLE State(
        StID INTEGER PRIMARY KEY,
        StateName TEXT,
        Country INTEGER,
        FOREIGN KEY (Country) REFERENCES Countries(CtID)
    )""",
    """DROP TABLE IF EXISTS Contact_Details""",
    """CREATE TABLE Contact_Details(
        CnID INTEGER PRIMARY KEY,
        Email TEXT NOT NULL,
        Cell TEXT NOT NULL,
        Tel TEXT,
        Street TEXT,
        State INTEGER NOT NULL,
        FOREIGN KEY (State) REFERENCES State(StID)
    )""",
    """DROP TABLE IF EXISTS Passengers""",
    """CREATE TABLE Passengers(
        PsID INTEGER PRIMARY KEY,
        Name TEXT NOT NULL,
        Address TEXT NOT NULL,
        Age INTEGER NOT NULL,
        Nationality TEXT NOT NULL,
        Contacts INTEGER NOT NULL,
        FOREIGN KEY (Contacts) REFERENCES Contact_Details(CnID)
    )""",
    """DROP TABLE IF EXISTS Branches""",
    """CREATE TABLE Branches(
        BrID INTEGER PRIMARY KEY,
        Center TEXT NOT NULL,
        Address TEXT NOT NULL,
        State INTEGER,
        FOREIGN KEY (State) REFERENCES State(StID)
    )""",
    """DROP TABLE IF EXISTS Employee""",
    """CREATE TABLE Employee(
        EmpID INTEGER PRIMARY KEY,
        Name TEXT NOT NULL,
        Address TEXT NOT NULL,
        Branch INTEGER NOT NULL,
        Designation TEXT NOT NULL,
        Email TEXT NOT NULL,
        Tel TEXT NOT NULL,
        Ext INTEGER,
        FOREIGN KEY (Branch) REFERENCES Branches(BrID)
    )""",
    """DROP TABLE IF EXISTS Transactions""",
    """CREATE TABLE Transactions(
        TsID INTEGER PRIMARY KEY,
        BookingDate DATETIME,
        DepartureDate DATETIME,
        Passenger INTEGER,
        Flight INTEGER,
        Type INTEGER,
        Employee INTEGER,
        Charges INTEGER,
        Discount INTEGER,
        FOREIGN KEY (Passenger) REFERENCES Passengers(PsID),
        FOREIGN KEY (Flight) REFERENCES Flight_Schedule(FlID),
        FOREIGN KEY (Employee) REFERENCES Employee(EmpID),
        FOREIGN KEY (Charges) REFERENCES Charges(ChID),
        FOREIGN KEY (Discount) REFERENCES Discounts(DiID)
    )""",
]

# Execute each command
for command in commands:
    cursor.execute(command)

# Commit changes and close connection
conn.commit()
conn.close()

print("SQLite database schema created successfully!")

SQLite database schema created successfully!

In [6]:
# connect to mysql database 

config={
    'user': 'root',
    'password': 'Helloworld@123',
    'host': 'localhost',
    'port': 3305,  # Update the port number to 3305 because in installation i gave port 3305
    'database':'airlines'
}

In [7]:
# connect to